@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    function DoJob() {

        var container = $("#results");
        container.html("");

        Job.DoJob()
            .then(function(result){
                container.append($("<h1></h1>").html(JSON.stringify(result)));
            })
           .progress(function (data) {
               container.append($("<p></p>").html(JSON.stringify(data)));
           })
            
    }
</script>

<button onclick="DoJob()">Start job</button>
<div id="results"></div>