@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    function DoJob() {
        Job.DoJob()
            .then(function(result){
                $("#results").html(JSON.stringify(result));
            });
    }
</script>

<button onclick="DoJob()">Start job</button>
<div id="results"></div>